---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Projects -->
{% if site.data.projects %}
  <h2>
    <a href="{{ '/projects/' | relative_url }}" style="color: inherit">Projects</a>
  </h2>
  <div class="myprojects">
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        {% for project in site.data.projects %}
        <tr>
          <td width="40%" valign="top" align="center">
            <img src="{{ project.image | prepend: 'assets/img/' }}" alt="{{ project.title }}" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
          </td>
          <td width="60%" valign="top">
            <p>
              <a href="{{ project.webpage }}" id="project">
                <b>{{ project.title }}</b>
              </a><br>
              Team members:
              {% for member in project.team_members %}
                {% if member.link %}
                  <a href="{{ member.link }}">{{ member.name }}</a>{% if forloop.last == false %},{% endif %}
                {% else %}
                  <b>{{ member.name }}</b>{% if forloop.last == false %},{% endif %}
                {% endif %}
              {% endfor %}
              <br>
              Supervised by
              {% for supervisor in project.supervised_by %}
                <a href="{{ supervisor.link }}">{{ supervisor.name }}</a>{% if forloop.last == false %},{% endif %}
              {% endfor %}
            </p>
              {% if project.demo %}
                <a href="{{ project.demo }}">Github Link1</a> |
              {% endif %}
              {% if project.demo2 %}
                <a href="{{ project.demo2 }}">Github Link2</a>
              {% endif %}
            <p>
              <div>
                {{ project.description }}
              </div>
            </p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}


    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}


    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
